
nav.navbar.navbar-expand-lg.nav-color.nav-bg
	.container
		.navbar-brand Justin Frasier
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarSupportedContent.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				li.nav-item
					a.nav-link(href='index.html') Home 
				li.nav-item
					a.nav-link(href='#') Twitch
				li.nav-item
					a.nav-link(href='#') Other Sites
				li.nav-item
					a.nav-link(href='./facebook.html') Facebook
				li.nav-item
					a.nav-link(href='./github.html') GitHub
				li.nav-item
					a.nav-link(href='./linkedin.html') Linkedin
				li.nav-item
					a.nav-link(href='./resume.html') Resume



					