

#accordion.accordion(role='tablist')
    .card
        .card-header#headingBPCC(role='tab')
            h5.mb-0
                a(data-toggle="collapse", href="#collapseBPCC", aria-expanded="true", aria-controls="collapseBPCC")
                    .row
                        .col.bold
                             |Bossier Parish Community College
                        .col.text-right
                            |2013 - 2016
                    
                    
        #collapseBPCC.collapse(role="tabpanel", aria-labelledby="headingBPCC", data-parent="#accordion")
            .card-body
                p Bossier City, LA 71111
                b Classes
                ul
                    li Prob Solving & Prog Techniques
                    li Support of Emerging Technology
                    li Intro to C++Programming
                    li Advanced C++ Programming 
                    li Composition & Rhetoric I
                    li College Algebra
                    li Web Design I
                    li Web Scripting I
                    li Intro to Programming with JAVA
                    li Advanced Java Programming
                    li Programming with C#
                    li HTML5/CSS3
                    li Web Application Development
                    li Computer Organization
                    li Relational Database Coding
                    li Introduction to Psychology
                    li Public Speaking
                    li Cyber Internship
                    li Foundation in Science 
                b Activities and Societies:
                ul.list
                    li Cyber Club
                    li Phi Thete Kappa