#accordion.accordion(role='tablist')
    .card
        .card-header#headingNWHS(role='tab')
            h5.mb-0
                a(data-toggle="collapse", href="#collapseNWHS", aria-expanded="true", aria-controls="collapseNWHS")
                    .row
                        .col.bold 
                            |Northwood High School 
                        .col.text-right 
                            |1999 - 2003
                    
                    
        #collapseNWHS.collapse(role="tabpanel", aria-labelledby="headingNWHS", data-parent="#accordion")
           