#accordion4.accordion(role='tablist')
    .card
        .card-header#headingPBM(role='tab')
            h5.mb-0
                a(data-toggle="collapse", href="#collapseBT", aria-expanded="true", aria-controls="collapseBT")
                    .row
                        .col
                            .bold
                                |Boomtown Casino Hotel
                        .col.text-right Bossier City, LA
                    .row
                        .col
                            |Security Officer
                        .col.text-right November 2017 to Now


        #collapseBT.collapse(role="tabpanel", aria-labelledby="headingBT", data-parent="#accordion7")
            .card-body
                ul
                    li  Maintains a positive attitude at all times, supporting the policies of Senior Management of the Casino as well as Senior Management of Boomtown Casino, Inc.
                    li Adhere to established department and property policies and procedures regarding guest service standards.
                    li This is a uniformed position, which requires that team member’s are in compliance with uniformed appearance standards while on duty.
                    li Provide continuous patrol by foot and vehicle of the casino, hotel and surrounding areas owned by the casino. This will be to determine any suspicious persons or vehicles and or minors entering the casino or being left in the parking lots.
                    li To assist the supervisor or assistant preparing detail reports on any security related incidents occurring on company property.
                    li Escort and transport funds for table fills, slots and or banks. Provide security for money drops to include tables and slots. Provide escorts in sensitive areas for all non- gaming team members i.e.; maintenance, repair companies and or cleaning personnel.
                    li Respond to disturbances and alarms and provide security for both guest and team members.
                    li May be required to operate security dispatch to include dispatching officers, maintaining key control and maintain all logs required in the dispatch center.
                    li Establish guest and team member relation on a daily basis.
                    li In “Building the Gap” as Post officers greet guests as they enter and exit the casino in a friendly manner.
                    li Adhere to established policies and procedures regarding guest service standards.
                    li All other duties as assigned.