#accordion2.accordion(role='tablist')
    .card
        .card-header#headingKCS(role='tab')
            h5.mb-0
                a(data-toggle="collapse", href="#collapseKCS", aria-expanded="true", aria-controls="collapseKCS")
                    .row
                        .col
                            .bold KCS Railroad
                        .col.text-right Shreveport, LA
                    .row
                        .col Labor
                        .col.text-right September 2007 – May 2009
                    
                    
        #collapseKCS.collapse(role="tabpanel", aria-labelledby="headingKCS", data-parent="#accordion2")
            .card-body
                 ul
                    li Freight locomotive preventative and general maintenance.
                    li Freight locomotive operation.
                    li Adherence to all federal and company safety policies and procedures.