#accordion5.accordion(role='tablist')
    .card
        .card-header#headingSH(role='tab')
            h5.mb-0
                a(data-toggle="collapse", href="#collapseSH", aria-expanded="true", aria-controls="collapseSH")
                    .row
                        .col
                            .bold Shreveport Handyman
                        .col.text-right Bossier City, LA
                    .row
                        .col General Maintenance & Labor
                        .col.text-right September 2013 – January 2014
                    
                    
        #collapseSH.collapse(role="tabpanel", aria-labelledby="headingSH", data-parent="#accordion5")
            .card-body
                 ul
                     li Installation and Maintenance of electrical wiring, receptacles, and junction box
                     li Carpentry and building maintenance
                     li Plumbing installation and maintenance
                     li Drywall and tile installation
                     li General Painting
                     li Flooring install – Title, VCT