#accordion6(role='tablist')
    .card
        .card-header#headingLabs(role='tab')
            h5.mb-0
                a(data-toggle="collapse", href="#collapseLabs", aria-expanded="true", aria-controls="collapseLabs")
                    .row
                        .col
                            .bold xententLABS
                        .col.text-right Bossier City, LA
                    .row
                        .col Intern
                        .col.text-right  January 2016 – May 2014
                    
                    
        #collapseLabs.collapse(role="tabpanel", aria-labelledby="headingLabs", data-parent="#accordion6")
            .card-body
                 ul
                    li Agile Development
                    li Source Code Management
                    li Cross-platform Software Development
                    li Database Design and Management
                    li Software Quality Assurance