#accordion.accordion(role='tablist')
    .card
        .card-header#headingCerts(role='tab')
            h5.mb-0
                a(data-toggle="collapse", href="#collapseCerts", aria-expanded="true", aria-controls="collapseCerts")
                    .row
                        .col
                            img.logo-panel(src="svg/certification.svg")
                            |Certification

                    
        #collapseCerts.collapse(role="tabpanel", aria-labelledby="headingCerts", data-parent="#accordion")
            .card-body
                .bold Computer Certification:
                ul.list
                    li CompTIA A+
                    li Technical Competency Area in Web Design from Bossier Parish Community College
                 
                .bold Locomotive Certification:
                ul.list
                    li LocoMotive Air Brake from Wabtec
                    li Dash 2 / GP 38 Static / GP 9 / SW 1200 Electrical from Technical Training Consultants
                    li EMD Locomotive Engines from Technical Training Consultants