#accordion(role='tablist')
    .card
        .card-header#headingEducation(role='tab')
            h5.mb-0
                a(data-toggle="collapse", href="#collapseEducation", aria-expanded="true", aria-controls="collapseEducation")
                    .row
                        .col
                            img.logo-panel(src="svg/graduate-cap.svg")
                            |Education
        #collapseEducation.collapse(role="tabpanel", aria-labelledby="headingEducation", data-parent="#accordion")
            .card-body
                 include education/bpcc
                 include education/northwood