#accordion.accordion(role='tablist')
    .card
        .card-header#headingExperience(role='tab')
            h5.mb-0
                a(data-toggle="collapse", href="#collapseExperience", aria-expanded="true", aria-controls="collapseExperience")
                    .row
                        .col
                            img.logo-panel(src="svg/business-person-silhouette-wearing-tie.svg")
                            |Experience
        #collapseExperience.collapse(role="tabpanel", aria-labelledby="headingExperience", data-parent="#accordion")
            .card-body
                include experience/xententLabs
                include experience/pierreBossierMall
                include experience/shreveportHandyman
                include experience/homeDepot
                include experience/lasRailroad
                include experience/kcs