.card#resume-Jumbotron
    .card-body
        .container
            .card-title
                #resume-DispayName.text-left 
                    |Justin Frasier
                img.rounded-circle(id='profile-picture', src='../photo/justin.jpg', alt='Justin Frasier picture')
            