.card#resume-Jumbotron
    .container
        .title
            #resume-DisplayName.text-left
                |Justin Frasier
            img.rounded-circle(id='profile-picture', src='../photo/justin.jpg', alt='Justin Frasier picture')
