
extends ../temp/temp

block title
	title Justin Frasier
block body
	.body
		.container
			include jumbotron
		.container
			include intro
			.hidden-print.resume
				include experience
				include education
				include skills
				include certification
				include contactInfo
//- .visible-print
//- 	 	include printable