
#accordion(role='tablist')
    .card
        .card-header#headingSkills(role='tab')
            h5.mb-0
                a(data-toggle="collapse", href="#collapseSkills", aria-expanded="true", aria-controls="collapseSkills")
                    .row
                        .col
                            img.logo-panel(src="svg/screwdriver-and-wrench-crossed.svg")
                            |Skills

                    
        #collapseSkills.collapse(role="tabpanel", aria-labelledby="headingSkills", data-parent="#accordion")
            .card-body
                .bold Computer Skills:
                ul.list
                    li Java
                    li Android Development
                    li C#
                    li C++
                    li C
                    li HTML5 & CSS3
                    li JavaScript
                    li Jade
                    li Pug
                    li Node.js
                    li Python
                    li SQL
                    li Linux
                    li Windows
                    li Arch Linux
                    li Ubuntu
                    li Troubleshooting
                br     
                .bold Security:
                ul.list
                    li Corporate Security
                    li Security Operations
                    li Physical Security
                    li Surveillance
                    li Security Management
                    li Security Training
                    li CCTV
                    li Customer Service
