.card
    .card-body
        #fb-root
        script(src="js/facebook.js")
        .fb-page(data-href='https://facebook.com/cerealkiller1918', data-tabs='timeline', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
