extends ../temp/temp
block title
    title Justin Frasier
block body
    .container
        .header
            include jumbotron

            p
            .row
                .col-5
                    include twitter

                .col-5
                    include facebook

