extends ../temp/temp
block title
	title Justin Frasier
block body
	.container
		.header
			.jumbotron.pix
				center
					h1.display-4  Welcome

	.container
		p
			| Hello World 
			br
			| So is this a new line 


