.card
    .card-body
        .card-text
            a.twitter-timeline(href='https://twitter.com/Mclovin1918', data-widget-id='584072991077609473') Tweets by @Mclovin1918
            script(src="js/twitter.js")